<template>
  <div class="container">
    <div
      class="column"
      v-for="position in positions"
      :key="position.id"
      @drop="onDrop($event, position.id)"
      @dragover.prevent
      @dragenter.prevent
    >
      <h2>{{ position.name }}</h2>
      <div
        class="card"
        v-for="player in players.filter((x) => x.positionId === position.id)"
        :key="player.id"
        @dragstart="onDragStart($event, player)"
        draggable="true"
      >
        <h3>{{ player.name }}</h3>
        <p>{{ player.position }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      players: [
        { id: 1, name: "Valia", positionId: 1 },
        { id: 2, name: "Kolia", positionId: 1 },
        { id: 3, name: "Dmitri", positionId: 2 },
        { id: 4, name: "Semen", positionId: 2 },
      ],
      positions: [
        { id: 1, name: "Def" },
        { id: 2, name: "Att" },
      ],
    };
  },
  methods: {
    onDragStart(e, player) {
      e.dataTransfer.dropEffect = "move";
      e.dataTransfer.effectAllowed = "move";
      e.dataTransfer.setData("playerId", player.id.toString());
    },
    onDrop(e, positionId) {
      const playerId = parseInt(e.dataTransfer.getData("playerId"));
      this.players = this.players.map((x) => {
        if (x.id == playerId) x.positionId = positionId;
        return x;
      });
    },
  },
};
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50vh;
}
.column {
  border: 1px solid cadetblue;
  background: chocolate;
  border-radius: 5px;
  max-width: 40ch;

  padding: 2em;
}
.card {
  background: cornsilk;
  border: 1px solid black;
  margin: 0.5em;
  padding: 0 1em;
  max-width: 100%;
  cursor: move;
}
</style>
