<template>
  <label>
    <input
      type="checkbox"
      name="nightMode"
      id="nightMode"
      v-model="isNightMode"
    />
    Темная тема
  </label>
  <div class="container" :class="{ darkmode: isNightMode }">
    <h1>
      Смена темы по checkbox
    </h1>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem,
      molestias accusamus! Hic distinctio consequatur dignissimos tempore ipsa
      eaque aliquid delectus debitis alias. Nisi veniam consectetur maiores
      perspiciatis suscipit quis reprehenderit?
    </p>
    <a href="#">Ссылка куда-то</a>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      isNightMode: false,
    };
  },
};
</script>

<style lang="scss" scoped>

@import "@/scss/_colors.scss";

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2em;
  color: $lightText;
  background: $lightBackground;
  @media (prefers-color-scheme: dark) {
    color: $darkText;
    background: $darkBackground;
    }
  }

label {
  float: right;
}

a {
  color: $lightLink;
  @media (prefers-color-scheme: dark) {
    color: $darkLink;
  }
}
</style>
