<template>
  <class-toggle></class-toggle>
  <hr />
  <custom-properties></custom-properties>
  <hr />
  <prefers-color-theme></prefers-color-theme>
  <hr />
  <drag-drop></drag-drop>
</template>

<script>
import ClassToggle from "./components/ClassToggle.vue";
import CustomProperties from "./components/CustomProperties.vue";
import DragDrop from "./components/DragDrop.vue";
import PrefersColorTheme from "./components/PrefersColorTheme.vue";

export default {
  components: { ClassToggle, CustomProperties, PrefersColorTheme, DragDrop },
  name: "App",
};
</script>

<style></style>
